*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a{
    color: #fff;;
}

nav a:hover{
    color: lightgray;
}

nav{
    position: absolute;
    right: 50px;
    top: 20px;
}
nav ul li{
    list-style: none;
}

nav ul{
display: flex;
}

nav ul li{
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background: #eee;
}

.banner-area{
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner_index{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero-image.jpg);
    background-size: cover;
}

.banner_rom{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Romania2.jpg);
    background-size: cover;
}

.banner_afr{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/africa2.jpg);
    background-size: cover;
}

.banner_chi{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/china2.jpg);
    background-size: cover;
}

.banner_ung{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/ungaria2.jpg);
    background-size: cover;
}

.banner_booking{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/booking.jpg);
    background-size: cover;
}

.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 40px;
    color:#fff;
}

.content .btn{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    color: #eee;
    font-size: 15px;
    cursor:pointer;
    background: #222;
    transition: all 0.2s ease-in-out;
}

.content .btn:hover, .main-section button:hover{
transform: scale(1.1);
}

.main-section button{
    border: none;
    outline: none;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    color: #eee;
    font-size: 15px;
    cursor:pointer;
    background: #222;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease-in-out;
}

header{
    text-align: center;
}

.main-section{
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.main-table, .main-table2{
    margin-left: auto;
    margin-right: auto;  
}

.main-table tr td, .main-table2 tr td {
    border-collapse: collapse;
    padding: 40px;
    text-align: center;
  }

.main-table img{
    display: block;
    width: 450px;
    height: 300px;
}

.image{
    position: relative;
    transition: 0.3s;
}

.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.image_overlay--blur{
    backdrop-filter: blur(2px);
}

.image_overlay:hover{
    opacity: 1;
}

.image_title{
    font-size: 2em;
    font-weight: bold;
}

.image_description{
    font-size: 1.25em;
    margin-top: 0.25em;
}

.main-table .image:hover{
    transition: 0.3s;
    }

.main-table .image:hover{
transform: scale(1.1);
}

.main-table2 img{
    width: 500px;
    height: 300px;
}

table tr td{
    text-align: center;
}

.main-table2 tr td p{
    text-align: justify;
}

.main-table2 tr td{
    padding: 20px;
}

.bottom-links p{
    display: inline;
}


.bottom-links a{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

a{
     text-decoration: none;
}

.main-section h3{
    font-size: 30px;
}

.main-section h2{
    font-size: 30px;
}

.main-section p{
    font-size: 18px;
}

#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: 0.3s;
    z-index: 1;
}

#btnScrollToTop:hover{
    transform: scale(1.1);
}

.slider-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.slider{
    position: absolute;
    align-items: center;
    position: relative;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
width: 700px;
height: 400px;
}

.navigation-manual{
position: absolute;
justify-content: center;
width: 700px;
margin-top: -40px;
display: flex;
bottom: 20px;
}

.manual-btn{
    border: 2px solid lightblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
    background: lightskyblue;
}

#radio1:checked  ~ .first{
margin-left: 0;
}

#radio2:checked  ~ .first{
    margin-left: -20%;
}

#radio3:checked  ~ .first{
    margin-left: -40%;
}

.slider-container h4{
    position: absolute;
    top: 20px;
    font-size: 20px;
}

.input{
position: absolute;
top: 100px;
}

.input input{
    padding: 10px;
    margin: 5px;
}

.input button{
    padding: 10px;
    margin: 5px;
    width: 100px;
}

.flights{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

#flight1,#flight2,#flight3,#flight4,#flight5{
    display: none;
} 

.content-area-flights {
    flex-direction: column;
}

.flights table {
    border-collapse: separate;
    border-spacing:0 10px;
}

.flights table td{
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px;
    background-color: white;
    
}

.content-area-flights h1{
margin-bottom: 20px;
position: absolute;
top: 40px;
}

.flights button{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    width: 80px;
}

#more_info1, #more_info2, #more_info3, #more_info4, #more_info5{
   display: none;
}

#flights{
    position: absolute;
    top: 10px;
}