img{
    max-width:100%;
    max-height:100%;
    }
    header{
        text-align: center;
    }
    .main-section{
        text-align: center;
        margin: auto;
      width: 80%;
    }
    
    table tr td{
        text-align: center;
    }

    .main-table2 tr td p{
        text-align: justify;
    }

    .main-table2 tr td{
        padding: 20px;
    }

    .bottom-links p{
        display: inline;
    }

    .bottom-links a{
        padding-left: 10px;
        padding-right: 10px;
    }